@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

.home-title {
  font-family: var(--font);
  color: var(--accent);
  font-size: 48px;
}

.home-desc {
  font-family: var(--font);
  color: var(--color);
  font-weight: 200;
}

.home-title:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.tool-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tool-card {
  background-color: #cdef85;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  width: 160px;
  height: 170px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.tool-card:hover {
  background-color: transparent;
  border: 1px solid #cdef85;
}

.tool-card:hover .card-title {
  fill: #4b6708;
  color: #cdef85;
}

.tool-card:hover .accent-svg {
  fill: #cdef85;
}

.tool-card:hover .short-desc {
  color: #cdef85;
}

.card-title {
  font-family: var(--font);
  font-weight: bold;
  font-size: 18px;
  color: #4b6708;
  margin-top: 6px;
}

.short-desc {
  font-family: var(--font);
  font-weight: 200;
  text-align: left;
  font-size: 16px;
  color: #4b6708;
}
